
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url(https://fonts.googleapis.com/css?family=Commissioner);

// Custom colors
$primary: #291E14;
$secondary: #DE7532;
$secondary-light: red;// #EBEBD1;

$body-bg: white;
$body-color: black;

// Navbar icons
$navbar-fg: black;
$navbar-bg: white;

// Links
$link-color: $secondary;
$link-decoration: underline;
$link-hover-color: #F9863E;

// Fonts
$font-family-sans-serif: "Commissioner";
$headings-font-family: "Vollkorn";