.card {
    background-color: $light-bg !important;
    border: solid $border-width-sm darken($light-bg, 5%) !important;
    border-radius: $border-radius-sm;
    box-shadow: 0px 3px 10px #0000001c;
    &:hover {
        border: solid $border-width-sm darken($light-bg, 15%) !important;
    }
}
  
.card-img {
    border-radius: 4px 4px 0px 0px;
}