@mixin shiny-container-config {
    box-shadow: $default-box-shadow !important;
    border: 0px solid $light-bg-offset !important;
    border-radius: $border-radius-lg !important;
}

.shinylive-wrapper {
    @include shiny-container-config;
}

.shinylive-container {
    @include shiny-container-config;
}

.shinylive-viewer {
    @include shiny-container-config;
}

.app-frame {
    @include shiny-container-config;
    border: $border-width solid $light-bg-offset !important;
}
