
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700);
@import url(https://fonts.googleapis.com/css?family=Commissioner);

$body-bg: $default-bg;
$body-color: $default-fg;

// Navbar
$navbar-fg: $default-fg;
$navbar-bg: $default-bg;

// Links
$link-color: $secondary;
$link-decoration: underline;
$link-hover-color: $secondary-light;

// Fonts
$font-family-sans-serif: "Commissioner";
$headings-font-family: "Vollkorn";

// Border
$border-radius-lg: 1rem;
$border-radius-sm: 0.5rem;
$border-width: 4px;
$border-width-sm: 2px;