// Custom colors: dark theme
$primary: #291E14;
$secondary: #FFFFA8;
$secondary-light: #FFFF42;
$light-bg: #594D45;
$default-bg: #201F24;
$default-fg: white;
$text-muted: #A6A5A7;

$light-bg-offset: darken($light-bg, 5%);
$light-bg-hover: lighten($light-bg, 15%);

$box-shadow-color: rgba(0, 0, 0, 0.647);